body {
    font-family:'Proxima Nova',sans-serif;
    color: black;
    background-color: burlywood;
}

.icon-container{
    display:inline-block;
    text-align: center;
    margin: 10px;
}
.icon-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}
.icon-container img:hover {
    transform: scale(1.1);
}

.icon-container p {
    margin-top: 5px;
}


.container{
    padding: 1%;
}
.center{
    padding: 1%;
    text-align: center;
}
#contact {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2em;
}
/* for links */
a{
    text-decoration: none;
    cursor:pointer;
}